.landingContainer {
    /* size: complete page */
    @apply min-h-screen flex items-center justify-center;
    background-color: var(--grey);
}

.topContainer {
    /* Items must be at top right, small margin to right */
    @apply absolute top-0 right-0 mr-4 mt-4;
}

@keyframes popUp {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.topBubbleButton {
    /* inline-block, rounded, background gray no shadow */
    @apply justify-center w-auto h-12;
    margin: 0 5px;
    /* padding, small padding from top, to avoid uncentered image & text */
    @apply px-4 py-1;
    color: var(--black);
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--small-default-shadow);
    transition-duration: .23s;
    animation: popUp ease-in-out 350ms;
}

.topBubbleButton > img {
    /* size: 20px, inline, rounded full, centered */
    @apply inline-block w-6 h-6 rounded-full;
    margin: 0 5px;
}

.topBubbleButton > p {
    /* inline, centered, no margin */
    @apply inline-block;
    margin: 0 5px;
}


@keyframes skeleton {
    0% {
        background-position: calc(100px + 100%) 0;
    }
    10% {
        background-position: calc(200px + 100%) 0;
    }
    20% {
        background-position: calc(300px + 100%) 0;
    }
    30% {
        background-position: calc(400px + 100%) 0;
    }
    40% {
        background-position: calc(500px + 100%) 0;
    }
    50% {
        background-position: calc(600px + 100%) 0;
    }
    60% {
        background-position: calc(700px + 100%) 0;
    }
    70% {
        background-position: calc(800px + 100%) 0;
    }
    80% {
        background-position: calc(900px + 100%) 0;
    }
    90% {
        background-position: calc(1000px + 100%) 0;
    }
    100% {
        background-position: calc(1100px + 100%) 0;
    }
}

.topBubbleButton > .skeleton {
    /* inline, centered, no margin */
    @apply inline-block;
    margin: 0 5px;
    background: linear-gradient(90deg, var(--grey) 0px, var(--white) 50%, var(--grey) 100%);
    border-radius: 10px;
    width: 70px;
    height: 20px;
    background-size: 200px 100%;
    animation: skeleton 3.1s ease-in-out infinite;
}

.topBubbleButton:hover {
    box-shadow: var(--sink-shadow);
}

.titleContainer {
    user-select: none;
    /* Add the shadow to the text */
    @apply relative z-10;
}

.title {
    /* Set background properties to make it fit the text */
    @apply text-7xl font-bold text-left align-top;
    color: transparent;
    background: linear-gradient(to right, #5d35a4, #2e8daf, #f3da68, #e07218);
    background: -webkit-linear-gradient(to right, #5d35a4, #2e8daf, #f3da68, #e07218);
    background-clip: text;
    -webkit-background-clip: text;

    /* Add text-shadow property */
    text-shadow: var(--text-shadow);
}

.description {
    @apply text-2xl font-bold text-left;
    color: var(--black);
    text-shadow: var(--default-shadow);
}

.buttonContainer {
    /* items must be in one row */
    @apply flex flex-row;
}

.landingButton {
    /* inline-block*/
    margin: 0 10px;
    @apply inline-flex items-center justify-center w-48 h-12 rounded-md text-white text-lg font-semibold transition duration-300 mt-4;
    box-shadow: var(--small-default-shadow);
}

.landingButton:hover {
    box-shadow: var(--sink-shadow);
}

.landingButton > i {
    margin-right: 5px;
}

.addDiscord {
    background-color: #5865F2;
}

.addDiscord:hover {
    background-color: #4e5bd1;
}

.vote {
    background-color: #f04747;
}

.vote:hover {
    background-color: #d13b3b;
}

.vote:disabled {
    background-color: #ad7777;
    cursor: not-allowed;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.scrollDownIndicator {
    /* must be centered (it's i) */
    @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 mb-4;
    font-size: 2rem;
    color: var(--black);
    animation: scrollDown 1.8s ease-in-out infinite;
    text-shadow: var(--hover-shadow);
}


.whyWeAreBetterContainer {
    /* size: complete page */
    @apply min-h-screen flex items-center justify-center;
    background-color: var(--grey);
}

.whyWeAreBetterTitle {
    background: linear-gradient(to right, #5d35a4, #2e8daf, #f3da68, #e07218);
    background: -webkit-linear-gradient(to right, #5d35a4, #2e8daf, #f3da68, #e07218);
    background-clip: text;
    -webkit-background-clip: text;
    @apply text-7xl font-bold text-left align-top;
    color: transparent;
    text-shadow: var(--text-shadow);
    margin: 0 30px;
}


.whyWeAreBetterCardsContainer {
    /* items must be in one row */
    @apply flex flex-wrap justify-center;
    margin: 0 10px;
    padding: 0 10px;
}

.whyWeAreBetterCard {
    /* inline-block*/
    margin: 10px;
    @apply inline-flex flex-col items-center justify-center w-64 h-64 rounded-md text-white text-lg font-semibold transition duration-300 mt-4;
    box-shadow: var(--small-default-shadow);
    padding: 10px;
    background-color: var(--white);
    transition-duration: .23s;
}

.whyWeAreBetterCard:hover {
    box-shadow: var(--hover-shadow);
    scale: 1.005;
}

.whyWeAreBetterCard > i {
    background: -webkit-linear-gradient(to right, #949bde, #d28fe3);
    background: linear-gradient(to right, #949bde, #d28fe3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 5px;
    font-size: 2.7rem;
}

.whyWeAreBetterCard > h2 {
    background: -webkit-linear-gradient(to right, #949bde, #d28fe3);
    background: linear-gradient(to right, #949bde, #d28fe3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.whyWeAreBetterCard > p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.moduleListContainer {
    /* text must be at the top center */
    @apply min-h-screen flex flex-col items-center justify-center;
    background-color: var(--grey);
}

.moduleListTitle {
    background: linear-gradient(to right, #5d35a4, #2e8daf, #f3da68, #e07218);
    background: -webkit-linear-gradient(to right, #5d35a4, #2e8daf, #f3da68, #e07218);
    background-clip: text;
    -webkit-background-clip: text;
    /* text must be at the top center */
    @apply text-7xl font-bold align-top;
    text-shadow: var(--text-shadow);
    color: transparent;
    margin: 0 30px;
}

.moduleListContainer > p {
    /* text must be at the top center */
    @apply text-2xl font-bold text-left;
    color: var(--black);
    text-shadow: var(--default-shadow);
    margin: 0 30px;
}

.moduleList {
    /* items must be in one row */
    @apply flex flex-wrap justify-center;
    margin: 0 10px;
    padding: 0 10px;
}

.moduleCard {
    /* should be SMALL */
    @apply inline-flex flex-col items-center justify-center w-32 h-24 rounded-md text-white text-lg font-semibold transition duration-300 mt-4;
    box-shadow: var(--small-default-shadow);
    padding: 10px;
    background-color: var(--white);
    transition-duration: .23s;
    margin: 10px;
}

.moduleCard:hover {
    box-shadow: var(--sink-shadow);
    scale: 1.005;
}

.comparisonContainer {
    /* text must be at the top center */
    @apply min-h-screen flex flex-col items-center justify-center;
    background-color: var(--grey);
}

.comparisonTableContainer {
    /* items must be in one row */
    @apply flex flex-wrap justify-center;
    margin: 0 10px;
    padding: 0 10px;
}

.comparisonTitle {
    background: linear-gradient(to right, #5d35a4, #2e8daf, #f3da68, #e07218);
    background: -webkit-linear-gradient(to right, #5d35a4, #2e8daf, #f3da68, #e07218);
    background-clip: text;
    -webkit-background-clip: text;
    /* text must be at the top center */
    @apply text-7xl font-bold align-top;
    text-shadow: var(--text-shadow);
    color: transparent;
    margin: 0 30px;
}

.comparisonTableContainer > .comparisonDescription {
    /* text must be at the top center AND IN THEIR OWN LINE */
    @apply text-2xl font-bold text-left;
    color: var(--black);
    text-shadow: var(--default-shadow);
    margin: 0 30px;
    display: block;
}

.comparisonTableContainer > .comparisonDescription > .fembot {
    background: linear-gradient(to right, #8a5bde, #2e8daf, #e07218);
    background: -webkit-linear-gradient(to right, #8a5bde, #2e8daf, #e07218);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
}

.comparisonTableContainerContainer {
    border-radius: 25px;
    box-shadow: var(--small-default-shadow);
    background-color: var(--white);
    padding: 10px;
    margin: 10px;
    transition-duration: .23s;
}

.comparisonTableContainerContainer:hover {
    box-shadow: var(--sink-shadow);
}

.comparisonTable {
    width: 100%;
    max-width: 800px;
    margin: 0;
    border-radius: 25px;
    border-collapse: collapse;
}


/* Table Head Styles */
.comparisonTableHead {
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid var(--grey); /* Border line between head and body */
}

.comparisonTableHeadCell {
    padding: 10px;
}

/* Table Body Styles */
.text-center {
    text-align: center;
}

/* Table Row Styles */
.comparisonTableRow {
    color: var(--black);
    background-color: var(--white);
    border-bottom: 1px solid var(--grey); /* Border line between rows */
}

/* Table Cell Styles */
.comparisonTableCell {
    padding: 10px;
    border-right: 1px solid var(--grey); /* Border line between cells */
}